/* Header Styles */

.app{
    margin: 0px;
    padding: 0px;
    width: 100%;
}
.header {
    justify-content: space-between;
    padding: 20px 30px;
    display: flex;
    border: 1px solid #ccc;
    background-color: #375E97;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo-image {
    width: 80px;
    height: 80px;
    border: 2px solid red;
    border-radius: 50%;

}



.nav-items {
    padding: 10px;
    display: flex;
    
}

.nav-items ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

ul > li {
    font-size: 20px;
    margin-right: 20px;
    border: 1px dotted black;
    padding: 5px ;
    border-radius: 10px;
    transition: background-color 0.3s ease;
}

ul > li:hover {
    background-color: #ffa07a; 
}

 .body{
    border: 1px solid black;
    background-color: #FFFAF0;
    display: inline-block;

  
 }
 .search-food{
    border: 1px solid blue;
    ;
    margin-left:  5px 5px;
    padding: 5px 0px;
 }
 .restro-container{
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content:flex-start;
 }
 .restro-card:hover{ 
    cursor:pointer;
 }
 .restro-card {
    border: 1px solid #ccc; /* Lighter border color */
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add shadow for depth */
    width: 250px;
    height: 450px;
    margin: 10px;
    padding: 15px;
    background-color: #5a4444; /* White background */
    transition: transform 0.3s ease;
}

.restro-card:hover {
    transform: translateY(5px); /* Lift card slightly on hover */
    cursor: pointer;
}

 .res-food-image{
    width: 100%;
    height: 200px;
 }
 .shimmer{
    border: 1px solid #ccc; /* Lighter border color */
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add shadow for depth */
    width: 250px;
    height: 450px;
    margin: 10px;
    padding: 15px;
    background-color: #aaacac; /* White background */
    }
    .shimmer-wrapper{
        display: flex;
        flex-wrap: wrap;
    }
    .login-btn{
        display: flex;
       
        padding: 15px;
        margin: 5px;
        
    }
    .search{
        display: flex;
    }
    .filter{
        display: flex;
        justify-content: right;
        gap: 30px;
    }